<h1>users#edit</h1>

<%= form_for @user do |u| %>
<%= u.label :name %>
<%= u.text_field :username %>
<br>
<br>
<%= u.label :email %>
<%= u.text_field :email %>
<br>
<br>
<%= u.label :firstname %>
<%= u.text_field :firstname %>
<br>
<br>
<%= u.label :lastname %>
<%= u.text_field :lastname %>
<br>
<br>
<%= u.label :fullname %>
<%= u.text_field :fullname %>
<br>
<br>
<%= u.label :contact %>
<%= u.text_field :contact %>
<br>
<br>
<%= u.label :user_type %>
<%= u.text_field :user_type %>
<br>
<br>


<%= u.submit %>
<% end %>
