<title>Sign up</title>
<h1>Sign up</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for @user do |u| %>
    <%= render 'shared/error_messages', object: u.object %>
    <%= u.label :username %>
    <%= u.text_field :username, :required => true %>
    <br>
    <br>
    <%= u.label :email %>
    <%= u.email_field :email, :required => true %>
    <br>
    <br>
    <%= u.label :password %>
    <%= u.password_field :password, :required => true %>
    <br>
    <br>
    <%= u.label :password_confirmation %>
    <%= u.password_field :password_confirmation, :required => true %>
    <br>
    <br>
    <%= u.label :firstname %>
    <%= u.text_field :firstname %>
    <br>
    <br>
    <%= u.label :lastname %>
    <%= u.text_field :lastname %>
    <br>
    <br>
    <%= u.label :contact %>
    <%= u.text_field :contact %>
    <br>
<!--    <br>

    <%= u.label :user_type %>
    <%= u.text_field :user_type %>
    <br>
    <br> -->

    <p>
      Our terms and conditions:<br>
      abcdefghijklmnopqrstuvwxyz
    </p>

   
   
    <%= u.check_box :terms_of_service %>
    <label>I accept</label>
    <br>
    
    
    <%= u.submit "Create my account", class: "btn btn-large btn-primary" %>
    <% end %>

    <br>
    <%= link_to "Index Page", users_path %>
  </div>
</div>
