
<title><%=  @user.username%></title>
<% provide(:title, @user.username) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>
    </section>
  </aside>
</div>

<div>
  <br>
  <p><%= @user.fullname %>, <%= @user.email %></p>
  <br>
  
  <%= link_to "Create Post", new_user_post_path(@user) %>
  <br>
  <%= link_to "Index Page", users_path %>
  <br>
</div>
<%= render "shared/post" %>
<div id="post">
  <label  id="pst">Posts::</label>
  <br>
  <br>
  <ol id="list">
    <% @user.posts.each do |p| %>
    <li>
      <%= p.title %>
      <%= link_to "show", user_post_path(@user,p) %>
      <%= link_to "delete", user_post_path(@user,p), :method => :delete %>
    </li> 
    <% end %>  
  </ol>
</div>
