
<title><%=  @user.username%></title>
<% provide(:title, @user.username) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.posts.any? %>
    <h3>Posts (<%= @user.posts.count %>)</h3>
    <ol class="microposts">
      <%= render @posts %>
    </ol>
    <%= will_paginate @posts %>
    <% end %>
    
    
    
<!--
        
<ol id="list">
<% @user.posts.each do |p| %>
<li>
<%= link_to "show", user_post_path(@user,p) %>
<%= link_to "delete", user_post_path(@user,p), :method => :delete %>
</li> 
<% end %>  
</ol>

-->
    
  </div>
  
</div>

