
<h1>Posts#index</h1>

<table border=2px>
<tr>
<th>User_id</th>
<th>Title</th>
<th>Description</th>
</tr>


<% @posts.each do |p| %>
<tr>
 <td><%= p.user_id %></td>
 <td><%= p.title %></td>
<td><%= p.description %></td>

<td><%= link_to "show", post_path(p) %></td>
<td><%= link_to "edit", edit_post_path(p) %></td>
<td><%= link_to "delete", post_path(p), :method => :delete %></td>
</tr>
<% end %>
</table>

<br>

<%= link_to "Create_Post", new_post_path %>

